BROKER_URL=nats://nats:4222
ORCHESTRATOR_URL=http://experiment-orchestrator:8080
ORCHESTRATOR_HOST_PORT=18080
APC_ENDPOINT=/apc/main
APC_DRIVER_TYPE=qunnect
APC_API_BASE_URL=http://127.0.0.1:8000/qunnect-api
APC_DEVICE_ID=apc-01
APC_REQUEST_TIMEOUT_S=10
APC_VERIFY_SSL=true
