CONTAINER_NAME=polarization_controller
IMAGE_NAME=ghcr.io/measurement-plane/polarization-controller:latest

BROKER_URL=nats://host.docker.internal:4222
ENDPOINT=/polarization_controller

HWP_ADDR=/dev/ttyUSB0
QWP_ADDR=/dev/ttyUSB1
DRIVER_TYPE=kenesis

# Optional extra docker args, for example:
# DOCKER_EXTRA_ARGS=--add-host=host.docker.internal:host-gateway
DOCKER_EXTRA_ARGS=
