CONTAINER_NAME=polarization_controller_bob
IMAGE_NAME=ghcr.io/measurement-plane/polarization-controller:latest

# Set this to the central node QNet IP or DNS name.
BROKER_URL=nats://10.0.0.10:4222
ENDPOINT=/polarizer/bob

HWP_ADDR=/dev/ttyUSB0
QWP_ADDR=/dev/ttyUSB1
DRIVER_TYPE=kenesis

DOCKER_EXTRA_ARGS=
